/*
Site Blue: #102854
Action Button: #FEA500
*/

.front-page-3 .solid-section,
.front-page-2 .solid-section {
	padding: 0px;
}
.podcast-body .content-sidebar-wrap .entry-header .featured-image {
	display: none;
}
.podcast-body .content-sidebar-wrap .entry-header .entry-title {
	display: none;
}
.page-id-565 .content-sidebar-wrap .entry-header .featured-image {
	display: none;
}
.podcast-body .site-inner {
	margin-top: 77px;
}
.sec2-inline-button .vc_column-inner {
	padding-top: 0px !important;
}
.sec2-inline-button .vc_column-inner .vc_btn3-container.vc_btn3-inline {
	margin: 0px 61px;
}
.sec2-inline-button
	.vc_column-inner
	.vc_btn3-container.vc_btn3-inline
	.vc_general {
	font-size: 18px;
}
.sec2-inline-button
	.vc_column-inner
	.vc_btn3-container.vc_btn3-inline
	.vc_general:hover {
	background: #333333 !important;
}
.post-grid-layout-custom .vc_column-inner {
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 308px;
}
.post-grid-layout-custom .vc_column-inner .wpb_wrapper p {
	color: #ffffff;
}
.vc_row.wpb_row.vc_row-fluid.post-grid-layout-custom.vc_column-gap-15.vc_row-o-content-bottom.vc_row-flex {
	max-width: 70%;
	margin: 0 auto;
	clear: both;
}
.post-grid-layout-custom .vc_column-inner .wpb_wrapper h4 {
	margin-bottom: 0px;
}
.post-grid-layout-custom .vc_column-inner .wpb_wrapper .wpb_text_column {
	margin-bottom: 0px;
}
.post-grid-layout-custom
	.vc_column-inner
	.wpb_wrapper
	.wpb_text_column
	.wpb_wrapper
	p {
	line-height: 20px;
	font-size: 16px;
}

.button.button-blue {
	background: #102854;
	border: 1px solid #102854;
	transition: all 0.3s;
}

.button.button-blue-clear {
	color: #102854;
	background-color: rgba(256, 256, 256, 0.8);
	border: 1px solid #102854;
	transition: all 0.3s;
}

/*=============
   Site Overrides
===============*/
#wpadminbar {
	visibility: hidden !important;
}

html {
	margin-top: 0 !important;
}

* html body {
	margin-top: 0 !important;
}

@media only screen and (max-width: 782px) {
	html {
		margin-top: 0 !important;
	}

	* html body {
		margin-top: 0 !important;
	}
}

body p,
body ul li {
	font-weight: 400;
}

body a:focus {
	outline: none;
}

.contact-button {
	padding: 0;
}

.contact-button:hover {
	color: #fea500;
}

.contact-button a,
.wpforms-submit {
	border-color: #fea500 !important;
	border-radius: 5px !important;
	background-color: #fea500 !important;
	color: #fff !important;
	text-transform: uppercase !important;
	font-family: "Lato";
	font-weight: 400;
	font-size: 14px !important;
	padding: 14px 20px;
}

/*=============
	Site Header
===============*/
.site-header {
	background: #162454 !important;
	padding-top: 0px;
}

.site-header .wrap {
	padding: 0 35px;
}

.site-header .wrap .title-area {
	width: 260px;
	float: left;
}

.responsive-menu-icon {
	position: absolute;
	height: 24px;
	top: 28px;
	right: 25px;
	margin-bottom: 0;
}

.responsive-menu-icon:before {
	color: white;
}

.genesis-nav-menu a,
.site-header.light .genesis-nav-menu a {
	padding: 30px 5px;
}

@media only screen and (max-width: 1200px) {
	.site-header .title-area {
		width: 260px;
	}

	.site-header .wrap {
		max-width: 1200px;
	}
}

@media only screen and (max-width: 1150px) {
	.site-header {
		position: static;
	}

	.site-header .wrap .title-area {
		display: block;
		float: none;
		margin: 0 auto;
	}

	.site-header .wrap {
		padding: 0 15px;
	}
}

@media only screen and (max-width: 1023px) {
	.genesis-nav-menu a,
	.site-header.light .genesis-nav-menu a {
		padding: 30px 7px;
	}

	.site-header .title-area,
	.site-header.light .title-area {
		padding: 15px 0 0;
	}
}

@media only screen and (max-width: 960px) {
	.site-header .title-area,
	.site-header.light .title-area {
		padding: 0;
	}
}

.site-header.light {
	padding-top: 0px;
}

/* over-rides */
.admin-bar .site-header {
	top: 0 !important;
}

.front-page .site-header {
	padding-top: 0px;
}

/*==== Logo ====*/
.title-area {
	padding: 0;
}

.site-header.light .title-area {
	padding: 0;
}

.site-title {
	max-width: 260px;
	width: 100%;
	min-height: 60px;
	padding: 10px 0;
}

.site-title a {
	background-position: center center;
	background-size: contain;
	min-height: 60px;
	display: block;
	color: transparent;
}

.site-title a:hover,
.site-title a:focus {
	color: transparent;
}

.front-page .site-header .site-title a,
.front-page .site-header .site-title a:hover {
	color: transparent;
}

.front-page .site-header.light .site-title a,
.front-page .site-header light .site-title a:hover {
	color: transparent;
}

.enews-widget input[type="submit"] {
	background-color: #102854;
}
.enews-widget input[type="submit"] {
	background-color: #fea500 !important;
}
.vc_btn3.vc_btn3-color-danger.vc_btn3-style-modern {
	background-color: #fea500 !important;
	background-image: none !important;
}

/*================================
			Home Page
==================================*/

/*========================
	Email
==========================*/

.tpts-videopromo-name input,
.tpts-videopromo-email input,
.tpts-videopromo-phone input {
	font-size: 1.5rem !important;
	font-weight: 300 !important;
	letter-spacing: 1.5px !important;
	margin-bottom: 16px !important;
	padding: 16px 14px !important;
	width: 100% !important;
	border-radius: 3px !important;
	display: inline-block !important;
	float: left !important;
}

.tpts-videopromo-name,
.tpts-videopromo-email,
.tpts-videopromo-phone {
	width: 20% !important;
	display: inline-block !important;
	margin-right: 10px !important;
}

.tpts-videopromo h4,
.tpts-videopromo p {
	color: #162454;
}

.tpts-weekly-reminder {
	display: block;
	text-align: center;
}

.tpts-weekly-reminder .wpforms-field-row,
.tpts-weekly-reminder .wpforms-field-medium {
	margin: 0 auto !important;
}

/*========================
	Widget 1 -- Video Promo Form
==========================*/
.front-page-1 .optin_form_for_video {
	width: 70%;
	margin: 0 auto 15px;
}

.front-page-1 .optin_form_for_video .form-field-container {
	margin-bottom: 25px;
	display: flex;
	align-content: space-between;
}

.front-page-1 .optin_form_for_video .form-field-container input {
	width: 50%;
	margin: 0 10px;
}
/*========================
	Widget 2 - Programs && Hire Us Page
==========================*/
.front-page-2 .textwidget,
.hire-me .textwidget {
	display: flex;
	justify-content: center;
}

.footer-widget-area .textwidget {
	display: block;
}

.choose_prog {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 2px solid #162454;
	border-radius: 4px;
	width: 18.5%;
	padding: 10px;
}

.choose_prog .p1 {
	font-size: 16px;
}

.choose_prog .learn-more-cta {
	margin-top: auto;
	font-weight: bold;
}

@media only screen and (max-width: 1200px) {
	.front-page-2 .textwidget,
	.hire-me .textwidget {
		flex-wrap: wrap;
	}

	.front-page-2 .choose_prog,
	.hire-me .choose_prog {
		width: 25%;
		margin: 0 3% 50px;
	}
}

@media only screen and (max-width: 800px) {
	.front-page-2 .choose_prog,
	.hire-me .choose_prog {
		width: 100%;
	}
}

/*========================
	Widget 4 - Podcast
==========================*/

.home .podcast_middle_row figure,
.podcast_middle_row img,
.podcast_middle_row a {
	margin: 0 auto;
	display: block;
}

.home .podcast_middle_row figure {
	padding: 30px 30px 15px;
}

.home .podcast_middle_row figure a:focus {
	outline: none;
}

.home .podcast_middle_row p {
	margin: 0;
}

.home .podcast_middle_row .contact-button {
	margin-bottom: 15px;
}

/*========================
	Widget 5 - Signup
==========================*/
.home .front-page-5 .textwidget .rightrow {
	color: #102854;
}

/*========================
	Widget 6 - Affiliate
==========================*/

.home .front-page-6 .wp-image-1538 {
	max-width: 200px;
}

/*========================
	Widget 7 - Quotes
==========================*/
.home .front-page-7 {
	background: #f9f9f8;
}

.home .front-page-7 .textwidget .italic {
	font-weight: 400;
}

.home .front-page-7 .textwidget .s1 {
	font-weight: 400;
}

.home .front-page-7 {
	min-height: 550px;
}

.home .front-page-7 .quote-author {
	font-weight: 400;
}

.home .front-page-7 .quote-author-position {
	font-weight: bold;
}

/*========================
	Widget 10 - Explore
==========================*/
.home .front-page-10 {
	color: #162454;
	padding-top: 100px;
}

.home .front-page-10 p {
	font-weight: 400;
}

.home .front-page-10 .explore {
	display: flex;
	justify-content: center;
}

.home .front-page-10 .explore .explore-blog,
.home .front-page-10 .explore .explore-videos,
.home .front-page-10 .explore .explore-podcast {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 420px;
	width: 100%;
	height: 280px;
	margin: 10px;
	transition: transform 0.2s;
}

.home .front-page-10 .explore .explore-blog:hover,
.home .front-page-10 .explore .explore-videos:hover,
.home .front-page-10 .explore .explore-podcast:hover {
	transform: scale(1.06);
}

.home .front-page-10 .explore .explore-blog {
	background-image: url(/wp-content/uploads/2018/07/imgpsh_fullsize-1.jpg?id=1232);
}

.home .front-page-10 .explore .explore-videos {
	background-image: url(/wp-content/uploads/2018/12/videos-homepage.jpg);
}

.home .front-page-10 .explore .explore-podcast {
	background-image: url(/wp-content/uploads/2018/12/podcast-homepage.jpg);
}

.home .front-page-10 .explore .full-link-block {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 80px;
}

.home .front-page-10 .explore .full-link-block:hover .button.button-blue-clear {
	background: #102854;
	color: #fff;
}

@media only screen and (max-width: 800px) {
	.home .front-page-10 .explore {
		flex-wrap: wrap;
	}
}

/*========================
	Widget 11 - Weekly Reminder Form
==========================*/
.front-page-11 .widget-heading {
	margin-bottom: 40px;
	color: #162454;
}

.front-page-11 sup {
	font-size: 25px;
	top: -1em;
}

.front-page-11 .optin_form_for_weekly_reminder {
	width: 70%;
	margin: 0 auto 15px;
}

.front-page-11 .optin_form_for_weekly_reminder .form-field-container {
	margin-bottom: 15px;
	display: flex;
	align-content: space-between;
}

.front-page-11 .optin_form_for_weekly_reminder .form-field-container input {
	width: 50%;
	margin: 0 10px;
}

.front-page-11 .optin_form_for_weekly_reminder .form-field-email {
	margin-bottom: 25px;
}

.front-page-11 .optin_form_for_weekly_reminder .form-field-email input {
	width: 97%;
}

/*========================
			Footer
==========================*/
.footer-widgets-1,
.footer-widgets-2 {
	margin: 0;
	width: 50%;
}

@media only screen and (max-width: 650px) {
	.footer-widgets-1,
	.footer-widgets-2 {
		margin: 0 auto;
		padding: 15px 0;
		width: 100%;
	}
}

.footer-widgets-3 {
	text-align: center;
	width: 100%;
	margin-top: 50px;
}

.footer-widgets-3 .widget {
	margin-bottom: 0;
}

.footer-widgets .wrap {
	padding-bottom: 0;
}

.footer-terms-link {
	text-decoration: underline;
}

/*====================
  Extra Small Mobile
======================*/
@media only screen and (max-width: 368px) {
	.page-id-622
		.sec2-inline-button
		.vc_column-inner
		.vc_btn3-container.vc_btn3-inline {
		margin: 0 7px;
	}
	.page-id-622 .post-grid-layout-custom .vc_column-inner {
		min-height: 173px;
	}
	.page-id-622 .vc_custom_1524472110676 {
		margin-right: 0px !important;
	}
	.page-id-622 .vc_btn3-container.vc_btn3-right {
		text-align: center;
	}
	.page-id-622 .vc_btn3-container.vc_btn3-left {
		text-align: center;
	}
	.page-id-622 .vc_btn3-container.vc_btn3-inline {
		text-align: center;
		width: 100%;
	}
}

/*=============
	 Mobile
===============*/
@media only screen and (max-width: 768px) {
	div#about-tim-sec1 {
		background-size: 100%;
		background-position: center top;
		min-height: 200px;
	}
	.page-id-622 .post-grid-layout-custom .vc_column-inner {
		min-height: 190px;
	}
	.sec2-inline-button .vc_column-inner .vc_btn3-container.vc_btn3-inline {
		margin: 0 7px;
	}
	.vc_row .wpb_column .vc_column-inner {
		background-position: center top;
		background-size: 100%;
	}
	img.video_lightbox_anchor_image {
		width: 100%;
	}
}
.page-id-865 header.entry-header {
	display: none;
}
.page-id-58 header.entry-header {
	display: none;
}
.page-id-1019 header.entry-header {
	display: none;
}
.page-id-1176 header.entry-header {
	display: none;
}

@media only screen and (min-width: 768px) {
	.page-id-865 .site-inner {
		margin-top: 80px;
	}
	.page-id-1176 .site-inner {
		margin-top: 80px;
	}
	.page-id-58 .site-inner {
		margin-top: 80px;
	}
	.page-id-1171 .site-inner {
		margin-top: 80px;
	}
	.page-id-1019 .site-inner {
		margin-top: 80px;
	}
	.podcast-home .site-inner {
		margin-top: 80px;
	}
	.videos-home .site-inner {
		margin-top: 80px;
	}
	.blog-page .site-inner {
		margin-top: 80px;
	}
	.page-id-58 #about-tim-sec1 .vc_column-inner {
		min-height: 400px;
	}
	.page-id-58 #about-tim-sec1 .vc_column-inner .wpb_wrapper h1 {
		font-weight: 700;
	}
	.single-post .site-inner {
		margin-top: 80px;
		max-width: 100%;
	}
	.single-post .site-inner .content-sidebar-wrap .entry-content {
		max-width: 1200px;
		margin: 0 auto;
	}
	.single-post .site-inner .content-sidebar-wrap .entry-comments h3 {
		max-width: 1200px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 1150px) {
	.page-id-865 .site-inner {
		margin-top: 0;
	}
	.page-id-1176 .site-inner {
		margin-top: 0;
	}
	.page-id-58 .site-inner {
		margin-top: 0;
	}
	.page-id-1171 .site-inner {
		margin-top: 0;
	}
	.page-id-1019 .site-inner {
		margin-top: 0;
	}
	.podcast-home .site-inner {
		margin-top: 0;
	}
	.videos-home .site-inner {
		margin-top: 0;
	}
	.blog-page .site-inner {
		margin-top: 0;
	}
}

@media only screen and (min-width: 1201px) {
	.nav-primary .genesis-nav-menu {
		float: right;
	}
}

.featured-image img {
	width: 100%;
}
.single-post .site-inner .content-sidebar-wrap .entry-header .entry-title {
	display: block;
	max-width: 1200px;
	margin: 0 auto;
	font-weight: 700;
}
.single-post .site-inner .content-sidebar-wrap .entry-header .entry-meta {
	max-width: 1200px;
	margin: 0 auto;
}
.single-post .site-inner .content-sidebar-wrap .entry-footer {
	max-width: 1200px;
	margin: 0 auto;
}
.genesis-nav-menu > .menu-item > a {
	color: #ffffff !important;
}
.footer-widgets {
	background-color: #162454;
}
.site-footer {
	background-color: #162454;
}
.home #text-10 .rightrow {
	padding: 57px 30px 40px !important;
}
img.video_lightbox_anchor_image {
	width: 100%;
}
.wpb_wrapper .hover-text {
	position: absolute;
	top: 160px;
	color: white;
	left: 34%;
	font-size: 40px;
	font-weight: bold;
	display: none;
}
.wpb_wrapper:hover .hover-text {
	display: block;
}
.vc_single_image-wrapper.vc_box_shadow_3d.vc_box_border_grey {
	margin-bottom: 0px;
}
.custom-text1176 {
	font-weight: bold;
}

.home .vc_custom_1531422579249 {
	background-image: url(https://thepersontosee.com/wp-content/uploads/2018/07/imgpsh_fullsize-1.jpg?id=1232) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.home .vc_custom_1531422603782 {
	background-image: url(https://thepersontosee.com/wp-content/uploads/2018/07/imgpsh_fullsize-2.jpg?id=1235) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.home .vc_custom_1531323000475 {
	background-image: url(https://thepersontosee.com/wp-content/uploads/2018/07/imgpsh_fullsize-3.jpg?id=1236) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.home .feature-primary .wpb_column a {
	padding: 5em 0px;
	display: block;
	font-size: 20px;
	font-weight: bold;
}

.home .feature-primary .wpb_column {
	color: #fff;
}
.home .feature-primary .wpb_column:hover {
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
	-o-transform: scale(1.06);
	transform: scale(1.06);
	color: #162454 !important;
}

/*========================
	 About Tim Page
==========================*/
.about-tim .hero {
	background-image: url(/wp-content/uploads/2019/01/about-tim-hero.jpg);
	background-position: center 20%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	height: 450px;
	width: 100%;
	justify-content: center;
}

.about-tim .about-tim-quote .vc_column-inner {
	background-position: center top !important;
	color: #162454;
}

.about-tim .about-tim-quote p {
	font-size: 41px;
	background-color: rgba(256, 256, 256, 0.65);
	color: #162454;
	text-align: center;
	border-radius: 5px;
	font-weight: 300;
	padding: 15px;
	max-width: 780px;
	margin: 0 auto;
}

.about-tim .entry {
	margin-bottom: 0;
}

.about-tim .entry-content > div:nth-child(4) {
	max-width: 750px;
	margin: 0 auto;
}

.blog-link {
	background: #fea500;
	border-radius: 4px;
	color: white;
	padding: 10px;
	margin: 0 auto;
	display: block;
	max-width: 315px;
	text-align: center;
	font-weight: bold;
}

/*========================
	 Products Page
==========================*/
.products .flex-row {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.products .flex-column {
	display: flex;
	flex-direction: column;
	text-align: center;

	border: 3px solid #3f3f3f;
	border-top: 10px solid #3f3f3f;

	margin: 0 25px 25px;
	padding-top: 35px;
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;

	max-width: 350px;
}

.products .flex-column .logo {
	width: 100%;
	background-position: center center;
	background-size: contain;
	margin: 0 0 20px;
	background-repeat: no-repeat;
}

.products .flex-column.million-dollar .logo {
	background-image: url(/wp-content/uploads/2018/12/CMDM-logo-1.png);
	height: 130px;
	margin-top: 20px;
}

.products .flex-column.box-system .logo {
	background-image: url(/wp-content/uploads/2018/11/TBS-logo.png);
	height: 185px;
}

.products .flex-column.productivity-funnel .logo {
	background-image: url(/wp-content/uploads/2018/12/logo.png);
	height: 185px;
}

.products .flex-column.power-of-personal-branding .logo {
	background-image: url(/wp-content/uploads/2019/01/the-power-of-personal-branding.jpg);
	height: 185px;
}

.products .flex-column h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: auto;
}

.products .flex-column p {
	font-size: 20px;
	font-weight: 400;
}

.products .flex-column .cta {
	background-color: #162454;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 18px 25px;
	border-radius: 5px;
	/* background-image: -webkit-linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%,
		rgba(0, 0, 0, 0.1)
	);
	background-image: -o-linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%,
		rgba(0, 0, 0, 0.1)
	);
	background-image: linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.1) 50%,
		rgba(0, 0, 0, 0.1)
	); */
}

.products .flex-column .cta.cta-buy-now {
	background-color: #fea500;
}

@media only screen and (max-width: 1200px) {
	.products .flex-column {
		margin: 0 10px;
	}
}

@media only screen and (max-width: 768px) {
	.products .flex-row {
		flex-wrap: wrap;
	}

	.products .flex-column {
		max-width: none;
		margin: 25px;
	}
}

/*========================
	 Blog Page
==========================*/
.blog-home .hero {
	background-image: url(/wp-content/uploads/2019/01/blog-hero.jpg);
	width: 100%;
	height: 625px;
	background-size: cover;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center 0%;
}

.blog-home .front-page-10 {
	padding-top: 0;
}

.blog-home .site-inner {
	margin-top: 72px;
}

.blog-home .link-more-grey {
	color: #fff;
	background-color: #102854;
	padding: 5px;
	border-radius: 3px;
}

.blog-home .post .post-content {
	padding: 30px 10px;
	margin-bottom: 60px;
}

.blog-home .blog-items {
	padding-bottom: 65px;
}

.link-more-grey {
	color: #fff;
	background-color: #102854;
	padding: 5px;
	border-radius: 3px;
}

.blog-home .wp-pagenavi {
	text-align: center;
}

@media only screen and (max-width: 1150px) {
	.blog-home .site-inner {
		margin-top: 0;
	}
}

/*========================
	 Blog Articles
==========================*/
.blog-page .site-inner {
	max-width: 1200px;
	margin: 25px auto 0;
	padding: 0 25px;
}

.blog-page .site-inner .article {
	margin: 0 25px;
	border-bottom: 1px solid #ddd;
	max-width: 750px;
	margin: 0 auto;
}

.blog-page .article-meta:after {
	display: none;
}

.blog-page .article .article-group {
	display: none;
}

/*========================
	 Podcasts Articles
==========================*/
.podcast .article-meta:after {
	display: none;
}

.podcast .article .article-group {
	display: none;
}

.single-podcast_list article {
	text-align: left;
}

.single-podcast_list article h1 {
	font-size: 35px;
	text-transform: capitalize;
	margin-top: 50px;
}

.single-podcast_list article h4 {
	font-size: 20px;
}

.single-podcast_list .post-title {
	font-size: 36px;
	color: #102854;
}

/*========================
			Podcasts Articles -- shownotes
		==========================*/

.single-podcast_list article .shownotes h3 {
	font-weight: bold;
	text-decoration: underline;
	color: #162553;
	font-size: 36px;
	margin-bottom: 15px;
}

.single-podcast_list article .shownotes ul {
	margin-left: 20px;
	margin-bottom: 25px;
}

.single-podcast_list article .shownotes li {
	list-style-type: disc;
	margin-bottom: 5px;
}

.single-podcast_list article .shownotes h4 {
	font-weight: bold;
	margin-bottom: 15px;
}

.single-podcast_list .bio {
	background: white;
	padding: 25px 0;
}

/*========================
			Podcasts Articles -- Twitter share
		==========================*/

.single-podcast_list .twitter-share-tweet {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #f5f8fa;
	margin-top: 30px;
}

.single-podcast_list .twitter-share-tweet h3 {
	background: #59adeb;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	margin-top: 0;
	margin-bottom: 0;
	font-family: lato;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

.single-podcast_list .twitter-share-tweet h4 {
	background: #f5f8fa;
	margin: 0;
	padding: 20px;
	text-align: center;
}

.single-podcast_list .twitter-share-tweet div {
	text-align: center;
	padding-bottom: 25px;
}

.single-podcast_list .twitter-share-tweet a {
	cursor: pointer;
}

.single-podcast_list .twitter-share-tweet .tweet {
	background: #59adeb;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	font-weight: bold;
}

.single-podcast_list .twitter-share-tweet .tweet:hover svg {
	transform: translateX(5px);
}

.single-podcast_list .twitter-share-tweet svg {
	max-height: 20px;
	max-width: 20px;
	fill: #fff;
	padding-top: 0px;
	position: relative;
	top: 4px;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}

/*========================
			Podcasts Articles -- Tuning In
		==========================*/

.single-podcast_list .tuning-in {
	margin-top: 50px;
}

.single-podcast_list .tuning-in h2 {
	font-weight: bold;
	color: #162553;
	font-size: 36px;
	margin-bottom: 15px;
}

/*========================
	 Podcasts Home
==========================*/

.podcast-home .podcast-hero {
	background-image: url(/wp-content/uploads/2018/12/podcast-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	height: 450px;
	width: 100%;
}
.podcast-home .podcast-list .styles__progressBar___3pIiH svg rect:nth-child(4) {
	fill: #162454;
}

.podcast-home .podcast-list {
	max-width: 750px;
	margin: 0 auto;
}

.podcast-home .podcast-post .podcast-post-title {
	font-size: 18px;
	display: inline-block;
	text-align: left;
	font-weight: 900;
	text-decoration: underline;
	color: #102854;
	transition: color 0.3s ease-in-out;
}

.podcast-home .podcast-post .podcast-post-title:hover {
	color: #fea500;
}

.podcast-home .view-post {
	background: #fea500;
	color: #fff;
	padding: 5px 10px;
	border-radius: 3px;
}

.podcast-home .podcast-post .podcast-post-excerpt {
	font-size: 16px;
	display: inline-block;
	float: left;
	text-align: left;
	margin-top: 0;
	margin-bottom: 15px;
}

.podcast-home .podcast-subscribe {
	max-width: 750px;
	margin: 65px auto 0;
}

.podcast-home .subscribe {
	font-size: 36px;
	font-weight: 700;
	font-family: Lato;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 50px;
}

.podcast-home .podcast-link-list {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 0;
}

.podcast-home .podcast-link {
	display: inline-block;
	padding: 10px;
	border: 2px solid #102854;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 225px;
	font-size: 18px;
}

.podcast-home .podcast-link.google img,
.podcast-home .podcast-link.breaker img {
	border: 1px solid #777;
	border-radius: 4px;
}

.podcast-home .podcast-link a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #102854;
	transition: color 0.3s;
}

.podcast-home .podcast-link a:hover {
	color: #333;
}

.podcast-home .podcast-link img {
	display: block;
	max-width: 50px;
	border-radius: 4px;
	margin-right: 15px;
}

.podcast-home .blog-items {
	margin-bottom: 75px;
}

/*========================
	 Videos Home
==========================*/
.videos-home .videos-hero {
	background-image: url(/wp-content/uploads/2018/12/videos-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	width: 100%;
	position: relative;
}

.videos-home .videos-hero .play-video {
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
	display: block;
	text-align: center;
}

.videos-home .entry-content > div:nth-child(3) {
	max-width: 750px;
	margin: 0 auto;
}

/*========================
	 Business Development
==========================*/

.business-dev .entry-content {
	max-width: 750px;
	margin: 0 auto;
}

.business-dev .headline-quote {
	position: relative;
}

.business-dev .headline-quote h2 {
	text-align: center;
}

.business-dev .headline-quote .quote-author {
	left: 75%;
	transform: translateX(-50%);
	position: relative;
	display: inline-block;
}

.business-dev .vc_tta-color-blue.vc_tta-style-classic .vc_tta-tab > a {
	border-color: #162454;
	background-color: #162454;
}

.business-dev .vc_tta-color-blue.vc_tta-style-classic .vc_tta-tab > a:focus,
.business-dev .vc_tta-color-blue.vc_tta-style-classic .vc_tta-tab > a:hover {
	background-color: #0636a4;
}

.business-dev
	.vc_tta-color-blue.vc_tta-style-classic
	.vc_tta-tab.vc_active
	> a {
	background-color: #f8f8f8;
}

.business-dev
	.vc_tta-color-blue.vc_tta-style-classic
	.vc_tta-tab.vc_active
	> a:hover {
	background-color: #f8f8f8;
}

/*========================
	 Coaching
==========================*/
.coaching blockquote {
	max-width: 750px;
	margin: 40px auto;
}

.coaching section div.content {
	max-width: 750px;
	margin: 0 auto;
}

.coaching .content {
	float: none;
}

.coaching .headline-quote {
	position: relative;
}

.coaching .headline-quote h2 {
	text-align: center;
}

.coaching .headline-quote .quote-author {
	left: 60%;
	transform: translateX(-50%);
	position: relative;
	display: inline-block;
}

.coaching .tiers {
	display: flex;
	align-content: space-around;
	flex-direction: row-reverse;
}

.coaching .tiers h4 {
	text-align: center;
	margin: 10px !important;
	font-size: 24px !important;
	padding: 5px !important;
	border-radius: 3px !important;
	color: white;
}

.coaching .tiers .platinum h4 {
	background: #c5c5c5;
}

.coaching .tiers .gold h4 {
	background: #d0ad46;
}

.coaching .tiers .silver h4 {
	background: #b1b8af;
}

.coaching .tiers .platinum,
.coaching .tiers .silver,
.coaching .tiers .gold {
	border-radius: 5px;
	margin: 0 15px;
	padding: 5px 20px;
	border: 3px solid #162454;
}

/*========================
		   Sales
==========================*/
.sales .entry-content {
	max-width: 750px;
	margin: 0 auto;
}

.sales .headline-quote {
	position: relative;
}

.sales .headline-quote h2 {
	text-align: center;
}

.sales .headline-quote .quote-author {
	left: 60%;
	transform: translateX(-50%);
	position: relative;
	display: inline-block;
}

/*========================
	   Social Media
==========================*/
.social-media .entry-content {
	max-width: 750px;
	margin: 0 auto;
}

.social-media .headline-quote {
	position: relative;
}

.social-media .headline-quote h2 {
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}

@media only screen and (max-width: 800px) {
	.social-media .headline-quote h2 {
		max-width: 100%;
	}
}

.social-media .headline-quote .quote-author {
	left: 75%;
	transform: translateX(-50%);
	position: relative;
	display: inline-block;
}

/*========================
	   Contact Us
==========================*/
.contact-us .entry-content {
	max-width: 750px;
	margin: 0 auto;
}

/*========================
			Team
==========================*/
.team .entry-content {
	max-width: 750px;
	margin: 0 auto;
}

/*========================
			Terms
==========================*/
.terms {
	font-family: Arial;
}

.terms-content {
	max-width: 800px;
	margin: 0 auto;
}

.terms .content h1,
.terms .content h2,
.terms .content h3 {
	text-align: center;
}

.terms .content h1 {
	font-weight: 700;
	margin-top: 50px;
}

.terms .content h2 {
	font-weight: bold;
	margin-top: 50px;
}

.terms .content h3 {
	margin-top: 40px;
	font-weight: 400;
	font-size: 22px;
}

.terms p,
.terms li {
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 15px;
}

.terms .italic {
	font-style: italic;
}

.terms .bold {
	font-weight: bold;
}

/*========================
			EPIC
==========================*/
.epic article.page {
	max-width: 750px;
	margin: 50px auto 0;
}

.epic h2 {
	font-size: 36px;
	font-weight: 700;
	font-family: Lato;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 50px;
}

.epic .heading {
	text-align: center;
}

.epic .contact-button {
	margin: 45px auto 0;
	display: block;
}

/*========================
		Error 404
==========================*/
.error-404 .entry-content {
	max-width: 1000px;
	margin: 0 auto;
}

.error-404 {
	text-align: center;
}

.error-404 .error-message {
	padding-top: 100px;
}

.error-404 .error-message h1 {
	font-size: 3em;
}

.error-404 .error-message h2 {
	font-size: 1.5em;
}

.error-404 .cta {
	border-color: #fea500 !important;
	border-radius: 5px !important;
	background-color: #fea500 !important;
	color: #fff !important;
	text-transform: uppercase !important;
	font-family: "Lato";
	font-weight: 400;
	font-size: 14px !important;
	padding: 14px 20px;
}

/*=======================  Visual Composer Custom CSS? */
.hire-me-body .entry-header .featured-image {
	display: none;
}
.sec-2-center {
	color: white;
	text-align: center;
}
.entry-header .entry-title {
	font-size: 36px;
	font-size: 3.6rem;
	display: none;
}
.hire-me-body .site-inner {
	margin-top: 77px;
}
.vc_btn3.vc_btn3-color-danger.vc_btn3-style-modern {
	color: #fff;
	width: 48%;
	font-size: 18px;
	padding: 10px 16px;
	line-height: 1.333333333333;
	border: none;
	background-color: #a81f0e;
}

.wpb_row .vc_column-inner .wpb_wrapper h4 {
	font-size: 20px;
	margin: 0px;
}
.box-heading {
	font-size: 16px;
}
.vc_btn3.vc_btn3-color-danger.vc_btn3-style-modern:hover {
	width: 45%;
	background-color: #d61411;
}
